# logs
logs/
npm-debug.log
yarn-error.log

# package management tools
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# build output
dist/
web@dist/
vite.config.ts.timestamp*

# macOS 
.DS_Store
*.sw*
*.un~

# Typescript build info
.tsbuildinfo
.tsbuildinfo.*
